body {
    padding-top: 0px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: #d1e2d1;
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.img-avatar {
    height: 150px;
    width: 150px;
}

.img-small {
    height: 50px;
    width: 50px;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
    

.shadowCard {
    box-shadow: 10px 10px 5px #888888;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.fa {
  padding-right: 5px;
}

.navbar-fixed-bottom {
  background-color: #1d2140;
  color: whitesmoke;
}

.carousel-indicators .active {
    background: #31708f;
}
.content {
    margin-top: 20px;
}
.adjust1 {
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.adjust2 {
    margin: 0;
}
.carousel-indicators li {
    border: 1px solid #ccc;
}
.carousel-control {
    color: #31708f;
    width: 5%;
}
.carousel-control:hover,
.carousel-control:focus {
    color: #31708f;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none;
    width:220px;
}
.media-object {
    margin: auto;
    margin-top: 15%;
}
@media screen and (max-width: 768px) {
    .media-object {
        margin-top: 0;
    }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* kl==============================================================kl */

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}


/* carousel fullscreen */

.carousel-fullscreen .carousel-inner .item {
    height: 100vh; 
    min-height: 600px; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover;
}


/* carousel fullscreen - vertically centered caption*/

.carousel-fullscreen .carousel-caption {
    top: 50%;  
    bottom: auto;
    -webkit-transform: translate(0, -50%); 
    -ms-transform: translate(0, -50%); 
    transform: translate(0, -50%);
}

/* overlay for better readibility of the caption  */

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    transition: all 0.2s ease-out;
}


/* demo typography */

h1,h2,h3,h4 {
    font-weight: 700;
}

.super-heading {
    font-size: 70px; 
}


.super-paragraph {
    font-size: 30px; font-weight: 300;
}

.carousel-caption .super-paragraph a,
.carousel-caption .super-paragraph a:hover
{
    color: #fff;
}

#carousel-example-generic {
    margin: 40px 0;
}

.demo-content {padding-top: 50px; padding-bottom: 50px; }


